@import "../vars/layout.scss";

// #region -------------- Dashboards -------------------------------------------------------------------

.rb-dashboards {
  .rb-btn-group {
    justify-content: flex-start;
    margin-bottom: 20px;

    @media #{$rb-screen-xs} {
      > * {
        flex: 1;
      }
    }
  }

  .rb-chart-wrapper {
    @media #{$rb-screen-xs} {
      overflow-x: scroll;
      overflow-y: hidden;

      > div {
        min-width: 750px;
        min-height: 375px;
      }
    }
  }
}

// #endregion
