@import "../vars/colors.scss";
@import "../vars/layout.scss";

.rb-filter-control {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey-light;

  &:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .rb-btn-filter-remove {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid $grey;
    vertical-align: top;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      > i {
        color: $crimson-dark;
      }
    }
  }

  .rb-filter-dropdown,
  .rb-filter-value {
    width: 100%;
    vertical-align: top;
    
    input {
      border-radius: 4px;
    }

    @media #{$rb-screen-md-until} {
      width: 100%;
      margin-left: 0;
    }

    &.rb-filter-multi {
      margin-top: 15px;
      margin-left: 0;
      width: 100%;

      @media #{$rb-screen-md-until} {
        padding: 0;
      }

      .rb-dropdown-with-search__control {
        height: auto;
        min-height: 36px;
        border-radius: 4px !important;
      }

      .rb-dropdown-with-search__value-container--is-multi {
        padding-top: 5px;

        > div {
          &:last-child {
            margin-top: -5px;
          }
        }
      }

      .rb-dropdown-with-search__multi-value {
        margin: 0 5px 5px 0;
        background-color: $white;
        border: 1px solid $grey-light;
        border-radius: 4px;

        .rb-dropdown-with-search__multi-value__label {
          padding: 1px 8px;
        }

        .rb-dropdown-with-search__multi-value__remove {
          padding-left: 0;
          color: $black;
          background-color: $white;

          &:hover {
            color: $crimson-dark;
          }
        }
      }
    }
  }

  .rb-dropdown-container {
    margin-bottom: 0;

    &.rb-show-list {
      > .rb-dropdown-display {
        .rb-selection-icon {
          > div {
            border-color: transparent transparent $grey-dark transparent;
          }
        }
      }
    }

    > .rb-dropdown-display {
      border: 1px solid $grey-dark;
      border-radius: 4px;

      .rb-selection-icon {
        > div {
          border-color: $grey-dark transparent transparent transparent;
        }
      }
    }
  }

  .rb-dropdown-with-search-container {
    margin-bottom: 0;
    line-height: 20px;

    .rb-dropdown-with-search__control {
      border: 1px solid $grey-dark;
      border-radius: 4px;

      .rb-dropdown-with-search__indicators {
        .rb-dropdown-with-search__dropdown-indicator {
          &::after {
            border-color: $grey transparent transparent transparent;
          }
        }

        .rb-dropdown-with-search__clear-indicator {
          color: $grey;
          padding: 0;
        }
      }
    }

    .rb-dropdown-with-search__control--is-focused {
      .rb-dropdown-with-search__indicators {
        .rb-dropdown-with-search__dropdown-indicator {
          &::after {
            border-color: transparent transparent $grey transparent;
          }
        }
      }
    }
  }

  .rb-filter-values {
    margin-top: 15px;
    
    input {
      border-radius: 4px;
    }

    @media #{$rb-screen-md-until} {
      padding-left: 0;
      padding-right: 0;
    }

    p {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 15px;
    }

    input {
      width: 100%;
    }
  }

  .rb-filter-value {
    input {
      width: 100%;
    }
  }

  .rb-date-ranges-filter {
    display: flex;
    max-width: 287px;
    column-gap: 10px;
    margin-top: 15px;
  }
}
