@import "../vars/colors.scss";
@import "../vars/layout.scss";


.rb-report-options {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--grey-light);

  .rb-report-no-option {
    text-align: left;
  }

  .rb-btn-container {
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
  }

  @media #{$rb-screen-xs} {
    padding: 15px;
  }
}
