@import "../vars/colors.scss";

.rb-tabs-control {
  > ul.nav-tabs {
    display: table;
    width: 100%;
    border: none;
    table-layout: fixed;
    border-radius: 8px;
    overflow: hidden;

    .rb-tab {
      display: table-cell;
      float: none;
      width: 100%;
      background-color: $grey;
      vertical-align: middle;

      +.rb-tab {
        border-left: 1px solid $grey-blue-dark;
      }

      &.active {
        background-color: $grey-blue-dark;

        &:hover {
          background-color: $grey-blue-dark;
        }
      }

      &:hover {
        background-color: $grey-dark;
      }

      > a {
        min-height: 50px;
        max-height: 110px;
        padding-top: 14px;
        padding-left: 20px;
        margin: 0;
        font-weight: bold;
        color: $white;
        background-color: transparent;
        border: none;
        border-radius: unset;
        outline: none;
        text-align: center;
      }
    }
  }

  .tab-content {
    padding: 25px 0;
  }
}
