@import "../vars/layout.scss";

.rb-view-dropdowns-container {
  z-index: 1000;
  position: fixed;
  width: inherit;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding: 0 20px;

  @media #{$rb-screen-md-until} {
    flex-direction: column;
    
    .rb-view-request-dropdown-container {
      margin-bottom: 5px !important;
    }
  }

  > * {
    + * {
      margin-left: 10px;

      @media #{$rb-screen-md-until} {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  .rb-spinner {
    img {
      max-height: 35px;
    }

    @media #{$rb-screen-md-until} {
      position: absolute;
      z-index: 100;
      left: 5px;
      bottom: 5px;

      img {
        max-height: 25px;
      }
    }
  }
  
  .rb-view-request-dropdown-container {
    .dropdown-menu {
      position: absolute !important;
      top: calc(-100% - 37px) !important;
    }
  }
  
  .rb-view-response-dropdown-container {
    .dropdown-menu {
      position: absolute !important;
      top: calc(-100% - 36.5px * 3) !important;
    }
  }

  .rb-view-request-dropdown-container,
  .rb-view-response-dropdown-container {
    margin-bottom: 20px;

    .rb-split-btn {
      display: block;
    }

    .dropdown {
      min-width: 300px;
      display: flex;
      align-content: center;
      position: relative;
      
      button:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-weight: bold;
      }
      
      button:nth-child(2) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .btn {
        &:first-child {
          flex: 1;
        }
      }
    }
  }
}
